# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Isaac Sim
logs/
cache/

# Windows
Thumbs.db
Desktop.ini

# Git
.git/

# Large Assets
*.usd
*.usda
*.usdc
*.png
*.jpg
*.jpeg
*.exr
*.mp4

# Python Virtual Environment
venv/
.venv/

# build
build/
dist/